<!-- Breadcrumb Section Begin -->
@{ 
    var title = ViewBag.message;
}
<section class="breadcrumb-section set-bg" data-setbg="../../Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@title</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>@title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->